.navigation {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  margin-left: 30px;
  font-weight: 700;
  color: #2a363b;
  font-size: 24px;
}
.navigationActive {
  color: #004b6b;
  border-bottom: solid 4px #004b6b;
}
